
{[include file="../../common/header.html"]}

<fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
    <legend>GA验证码</legend>
</fieldset>
<div class="layui-block" style="text-align: center;">
    <img src="{[$_baseUrl]}/admin/adminpost/getga?ga={[$ga]}&admin_name={[$admin_name]}">
</div>
<fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
    <legend>GA密钥</legend>
</fieldset>

<blockquote class="layui-elem-quote">{[$ga]}</blockquote>


{[include file="../../common/footer.html"]}
