{[include file="../../common/header.html"]}

<!--表单:-->
<div id="app">
    <form class="layui-form form-post-table" action="" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="admin_name" required lay-verify="required" placeholder="请输入用户名" value="{[$admin.admin_name]}" maxlength="16" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">管理员用户名称，可用于登录账号，2-16位，只能输入字母或数字</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" required lay-verify="required" maxlength="10" placeholder="请输入真实姓名" value="{[$admin.name]}" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">管理员真实姓名</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职位</label>
            <div class="layui-input-inline">
                <input type="text" name="admin_title" maxlength="15" placeholder="管理员职位" autocomplete="off" value="{[$admin.admin_title]}" class="layui-input">
                <div class="layui-form-mid layui-word-aux">选填项，2-15个字符</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-inline">
                <input type="tel" name="cellphone" required lay-verify="required" maxlength="11" value="{[$admin.cellphone]}" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">管理员手机号码</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重置登录密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" maxlength="16" placeholder="重置登录密码" autocomplete="off" class="layui-input">
                <div class="layui-form-mid layui-word-aux">重新设置密码，6-16位非空字符，不填则不修改密码</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开启下级管理权限</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_sub_manager" lay-skin="switch" value="1" lay-text="开启|关闭" {[if $admin.is_sub_manager]}checked{[/if]}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开启GA登录</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_login_ga" lay-skin="switch" value="1" lay-text="开启|关闭" {[if $admin.is_login_ga]}checked{[/if]}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">启用此管理员</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_locked" lay-skin="switch" value="0" lay-text="启用|禁用" {[if !$admin.is_locked]}checked{[/if]}>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">选择权限组</label>
            <div class="layui-input-inline" style="width:75%;">
                <div style="width:33%;float:left;margin-bottom:15px;" v-for="(item, index) in roleList" >
                    <input type="checkbox" name="role[]" :title="item.name" :value="item.role_id" lay-skin="primary" :checked="isCheckedRole(item.role_id)">
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="submit-form" lay-filter="submit-form">提交保存</button>
                <a class="layui-btn layui-btn-primary" href="javascript:showLoading();reloadPage();">重置</a>
                <input type="hidden" name="admin_id" value="{[$admin.admin_id]}">
            </div>
        </div>
    </form>
</div>

{[include file="../../common/footer.html"]}

<script type="text/javascript">
    var layer = layui.layer;
    var form = layui.form;
    var laydate = layui.laydate;
    var colorpicker = layui.colorpicker;

    var roleList = {[json_encode($roleList)]};
    var adminRoleList = {[json_encode($admin.role_list)]};

    // 表单提交监听
    form.on('submit(submit-form)', function(data) {
        confirmMessage('确认修改此条数据吗？', function() {
            // 发起ajax请求
            formRequest('?', 'post', data.field, function () {
                // 显示loading 并刷新当前页面
                showLoading();
                parent.location.reload();
            });
            return false;
        });
        return false;
    });

    var vue = new Vue({
        el: '#app',
        data: {
            roleList: roleList,
            adminRoleList: adminRoleList,
        },
        // vue渲染数据后执行layui初始化，否则layui组件不能加载
        mounted:function() {
            form.render();
        },
        computed:{

        },
        methods: {
            isCheckedRole: function(roleid){
                var thisAdminRolelist = this.adminRoleList;
                d(thisAdminRolelist);
                for (var i = 0; i < thisAdminRolelist.length; i++) {
                    if (thisAdminRolelist[i].role_id == roleid) {
                        return true;
                    }
                }
                return false;
            }
        }
    });

</script>
