{[include file="../../common/header.html"]}

<table class="layui-table form-post-table" lay-size="lg">
    <colgroup>
        <col width="250">
        <col>
    </colgroup>

    <tbody>
        <tr>
            <td class="layui-table-tdr">用户ID</td>
            <td>{[$data.uid]}</td>
        </tr>
        <tr>
            <td class="layui-table-tdr">昵称</td>
            <td></td>
        </tr>
        <tr>
            <td class="layui-table-tdr">手机号码</td>
            <td>{[$data.cellphone]}</td>
        </tr>
        <tr>
            <td class="layui-table-tdr">添加时间</td>
            <td>{[date('Y-m-d H:i:s', $data.add_time)]}</td>
        </tr>

        <tr>
            <td class="layui-table-tdr">用户ID</td>
            <td>{[$data.uid]}</td>
        </tr>
        <tr>
            <td class="layui-table-tdr">昵称</td>
            <td></td>
        </tr>
        <tr>
            <td class="layui-table-tdr">手机号码</td>
            <td>{[$data.cellphone]}</td>
        </tr>
        <tr>
            <td class="layui-table-tdr">添加时间</td>
            <td>{[date('Y-m-d H:i:s', $data.add_time)]}</td>
        </tr>

        <tr>
            <td class="layui-table-tdr">用户ID</td>
            <td>{[$data.uid]}</td>
        </tr>
        <tr>
            <td class="layui-table-tdr">昵称</td>
            <td></td>
        </tr>
        <tr>
            <td class="layui-table-tdr">手机号码</td>
            <td>{[$data.cellphone]}</td>
        </tr>
        <tr>
            <td class="layui-table-tdr">添加时间</td>
            <td>{[date('Y-m-d H:i:s', $data.add_time)]}</td>
        </tr>
    </tbody>

</table>



<script type="text/javascript">

var layer = layui.layer;


</script>


{[include file="../../common/footer.html"]}
